html {
  /* font-family: "Source Han Sans SC"; */
  font-family: "Source Han Sans", sans-serif;
}

html, body {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.clickable {
  -webkit-app-region: no-drag;
}

i.fa {
  width: 1em;
  height: 1em;
  font-size: 2em;
}
