body {
  font-size: 1.5em;
}

.nav-bar {
  -webkit-app-region: drag;
  cursor: move;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: rgba(0, 0, 0, 0.5);
  color: #fcfcfc;
  z-index: 100;
}

.config-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

body.hover .nav-bar {
  display: block;
}

.message-list {
  color: #9eccee;
  list-style: none;
}

.comment-msg-item {
  position: relative;
  margin-left: 2em;
  min-height: 2em;
  line-height: 1.8;
}

.comment-msg-item,
.gift-msg-item {
  text-shadow: black 0.1em 0.1em 0.2em;
}

.gift-msg-item {
  line-height: 1;
}

.comment-content {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.comment-author-nick::after {
  content: "：";
}

.comment-author-nick,
.comment-text {
  opacity: 0.8;
}

.user-is-vip .comment-author-nick {
  color: #bbbb69;
}

.user-is-admin .comment-author-nick {
  color: #f1b9b8;
}

.comment-author-avatar {
  position: absolute;
  top: 0;
  left: -2em;
  width: 2em;
  height: 2em;
  color: black;
  -webkit-clip-path: circle(0.9em);
}

.config {
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 200;
}

.config-form {
  position: relative;
  padding: 0.3em 0.5em 0;
  z-index: 201;
  background: #fff;
}

.config-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 299;
}
